footer {
    margin-top: 80px;
}

.footer-content > div {
    padding-block:10px;
    background-color: #49997D;
    color: #fff;
    font-size: 15px;
    text-align: center;
}

.footer-content > div:last-child {
    padding-block: 20px;
    border-top: 1px solid #515151aa;
}

.footer-links {
    display: flex;
    justify-content: center;
}

.footer-links > .linkContact {
    width: calc(100%/4 - 12%);
    padding: 20px 60px;
    vertical-align: top;
}

.footer-links >.linkContact > a {
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
}

.footer-links > .linkContact.address > a::before {
    content: url("../images/icons/endereco.png");
}

.footer-links > .linkContact.tel > a::before {
    content: url("../images/icons/telefone.png");
}

.footer-links > .linkContact.booking > a::before {
    content: url("../images/icons/calendario.png");
}